@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primaryColor: #762D5A;
$secondaryColor: #46ffe6;
$white: #FFFFFF;
$gray: #909090;

@mixin flexGap($gap: 16px) {
    display: flex;
    gap: $gap;
}

body {
    font-family: 'Raleway', sans-serif !important;

    header {
        display: none;
    }

    #header-1 {
        position: fixed;
        min-height: 70px;
        width: 100%;
        padding: 27px 50px 11px 50px;
        z-index: 99999;

        .header-container {
            display: flex;
            margin: auto;
            max-width: 1440px;

            .logo-container {
                display: block;
            }

            .right {
                @include flexGap(40px);
                flex-direction: column;
                flex: 1;

                .lang-sosmed {
                    @include flexGap(44px);
                    align-items: center;

                    .lang {
                        color: $white;
                    }
    
                    .sosmed {
                        @include flexGap(16px);
                        align-items: center;
                    }
                }

                .nav-search {
                    @include flexGap(36px);
                    align-items: center;

                    nav {
                        @include flexGap(22px);

                        a {
                            text-decoration: none;
                            color: $white;
                            letter-spacing: 0.115em;
                        }

                        .odb_nav-dropdown-container {
                            .odb_nav-dropdown {
                                min-width: 200px;
                                background: rgba(118, 45, 90, 0.8);
                                border-radius: 0;
                                padding: 0;
                                border: none;

                                
                                li {
                                    border-bottom: 1px solid $white;
                                    padding: 6px 12px;

                                    &:hover {
                                        background: rgba(214, 81, 163, 0.5);
                                    }
                                    
                                    &:last-child {
                                        border: none;
                                    }

                                    a {
                                        padding: 0;
                                        position: relative;
                                        font-weight: 700;
                                        font-size: 12px;
                                        line-height: 12px;
                                        letter-spacing: 0.36em;

                                        &:hover {
                                            background: none;
                                        }

                                        &::after {
                                            content: '>';
                                            position: absolute;
                                            right: 0;
                                        }
                                    }
                                }

                            }
                        }
                    }

                    .search-container {
                        input {
                            border: none;
                            padding: 11px 13px;
                            width: 290px;
                            color: $primaryColor;
                        }
                    }
                }
            }
        }

        .header-bg-container {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $primaryColor;
            opacity: 50%;
            mix-blend-mode: multiply;
            
        }
        .header-bg {
            filter: saturate(2);
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 45%;
            object-fit: cover;
            object-position: center;
            mix-blend-mode: multiply;
        }
        .header-bg2 {
            position: absolute;
            z-index: -3;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 45%;
            object-fit: cover;
            object-position: center;
        }
    }

    #header-2 {
        position: fixed;
        min-height: 70px;
        width: 100%;
        padding: 11px 50px;
        z-index: 99999;

        .header-container {
            display: flex;
            margin: auto;
            max-width: 1440px;
            align-items: center;

            .logo-container {
                display: block;
            }


            .lang-sosmed {
                @include flexGap(44px);
                align-items: center;

                .lang {
                    color: $white;
                }

                .sosmed {
                    @include flexGap(16px);
                    align-items: center;
                }
            }

            .nav-search {
                @include flexGap(36px);
                align-items: center;
                padding: 38px 89px 0px 73px;

                nav {
                    @include flexGap(22px);
                    flex: 1;
                    margin: auto;

                    a {
                        text-decoration: none;
                        color: $white;
                        width: 100%;
                        letter-spacing: 0.115em;

                        @media only screen and (min-width: 1440px) {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        .header-bg-container {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $primaryColor;
            opacity: 50%;
            mix-blend-mode: multiply;
            
        }
        .header-bg {
            filter: saturate(2);
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 45%;
            object-fit: cover;
            object-position: center;
            mix-blend-mode: multiply;
        }
    }

    content {
        display: block;
        margin: auto;
        position: relative;
        max-width: 1440px;
        overflow: hidden;

        .odb_sliderContainer {
            height: 100vh !important;
            .odb_sliderItemContainer {
                height: 100vh !important;
                .orchidee_sliderItem {
                    height: 100vh !important;
                    img {
                        height: 100vh !important;
                    }
                }
            }
        }

        .odb_beranda-content-container {
            padding: 50px 100px;

            .odb_beranda-subtitle-text {
                font-weight: 400;
                font-size: 20px;
                line-height: 159.4%;
                text-align: center;
                letter-spacing: 0.05em;
                max-width: 710px;
                margin: auto;
                margin-bottom: 40px
            }

            .odb_content1-container {
                @include flexGap(25px);

                .odb_content1-item {
                    img {
                        width: 392px;
                        height: 428px;
                        margin-bottom: 16px;
                    }
    
                    div {
                        font-weight: 500;
                        font-size: 20px;
                        text-align: center;
                        letter-spacing: 0.03em;
                    }
                }
            }

            .odb_content2-container {
                @include flexGap(25px);

                .odb_content2-item {
                    img {
                        max-width: 390px;
                        max-height: 320px;
                        width: 100%;
                        margin-bottom: 36px;
                    }
    
                    .title {
                        font-weight: 700;
                        font-size: 15px;
                        text-align: center;
                        letter-spacing: 0.2em;
                        margin-bottom: 24px;
                    }

                    .text {
                        font-size: 15px;
                        text-align: center;
                        letter-spacing: 0.2em;
                        max-width: 225px;
                        margin: auto;
                    }
                }
            }

            .odb_content3-container {
                @include flexGap(25px);

                .odb_content3-item {
                    padding: 32px;
                    max-width: 350px;
                    text-align: center;

                    img {
                        width: 250px;
                        height: 250px;
                        margin-bottom: 36px;
                    }
    
                    .nama {
                        font-weight: 700;
                        font-size: 20px;
                        text-align: center;
                        letter-spacing: 0.2em;
                        margin-bottom: 24px;
                    }

                    .job {
                        font-size: 18px;
                        text-align: center;
                        letter-spacing: 0.2em;
                        margin-bottom: 24px;
                    }

                    .text {
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0.2em;
                        margin: auto;
                    }
                }
            }

            .odb_content4-container {
                @include flexGap(18px);
                align-self: center;

                .odb_content4-item {
                    padding: 32px;

                    .odb_content4-img {
                        width: 100%;
                        margin-bottom: 17px;
                    }

                    .odb_feed-container {
                        @include flexGap(28px);
                        margin-bottom: 23px;

                        .odb_feed-item {
                            @include flexGap(10px);

                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }

                    .odb_feed-content {
                        .odb_feed-profile {
                            @include flexGap(17px);
                            align-items: center;

                            img {
                                width: 56px;
                                height: 56px;
                                border-radius: 50px;
                            }

                            span {
                                color: $gray;
                                font-size: 20px;
                                letter-spacing: 0.005em;
                            }
                        }

                        .odb_feed-text {
                            padding-left: 73px;

                            p {
                                font-weight: 300;
                                font-size: 16px;
                                letter-spacing: 0.005em;
                            }
                        }
                    }

                }
            }

            .odb_content5-container {

                .odb_content5-highlight-container {
                    text-align: center;
                    margin-bottom: 39px;
                    
                    .odb_content5-highlight {
                        margin: auto;
                        width: 711px;
                        height: 400px;
                        background: #909090;
                        margin-top: 54px;
                        margin-bottom: 21px;
                    }
                    
                    span {
                        font-weight: 600;
                        font-size: 17px;
                        letter-spacing: 0.005em;
                    }
                }

                .odb_content5-item-container {
                    .odb_content5-item {
                        padding: 32px;
    
                        .odb_content5-item-img {
                            min-height: 236px;
                            background: #909090;
                            margin-bottom: 29px;
                        }
    
                        span {
                            font-weight: 600;
                            font-size: 17px;
                            letter-spacing: 0.005em;
                        }
                    }
                }
            }
        }
    }

    footer {
        background: url('../img/GRADIENT.png');
        background-position: center;
        background-size: cover;
        padding: 27px 60px;   

        .left {
            padding: 40px 0px 40px 24px;
            min-width: 210px;

            h6 {
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 0.02em;
                color: $white;
                text-transform: uppercase;
            }

            span {
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.02em;
                color: $white;
            }
        }

        .right {
            text-align: right;
            
            .odb_toTop {
                font-weight: 500;
                font-size: 14px;
                text-align: right;
                color: $white;
                margin-bottom: 60px;
                background: unset;
                border: none;

                &:hover {
                    filter: brightness(0.9);
                    transition: 0.2s;
                }
            }

            nav {
                margin-bottom: 60px;
                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 15px;
                    letter-spacing: 0.105em;
                    border-right: 1px solid $white;
                    padding: 0px 15px;

                    &:last-child {
                        border: none;
                        padding: 0px 0px 0px 15px;
                    }
                }
            }

            .odb_copyright {
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.02em;
                color: $white;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            .odb_copyright-text {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.02em;
                color: $white;
            }
        }
    }
}

.blank {
    flex: 1;
}

.odb_beranda-title {
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.68em;
    margin-bottom: 33px;
}

.odb_beranda-subtitle {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.025em;
}