@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Raleway", sans-serif !important;
}
body header {
  display: none;
}
body #header-1 {
  position: fixed;
  min-height: 70px;
  width: 100%;
  padding: 27px 50px 11px 50px;
  z-index: 99999;
}
body #header-1 .header-container {
  display: flex;
  margin: auto;
  max-width: 1440px;
}
body #header-1 .header-container .logo-container {
  display: block;
}
body #header-1 .header-container .right {
  display: flex;
  gap: 40px;
  flex-direction: column;
  flex: 1;
}
body #header-1 .header-container .right .lang-sosmed {
  display: flex;
  gap: 44px;
  align-items: center;
}
body #header-1 .header-container .right .lang-sosmed .lang {
  color: #FFFFFF;
}
body #header-1 .header-container .right .lang-sosmed .sosmed {
  display: flex;
  gap: 16px;
  align-items: center;
}
body #header-1 .header-container .right .nav-search {
  display: flex;
  gap: 36px;
  align-items: center;
}
body #header-1 .header-container .right .nav-search nav {
  display: flex;
  gap: 22px;
}
body #header-1 .header-container .right .nav-search nav a {
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.115em;
}
body #header-1 .header-container .right .nav-search nav .odb_nav-dropdown-container .odb_nav-dropdown {
  min-width: 200px;
  background: rgba(118, 45, 90, 0.8);
  border-radius: 0;
  padding: 0;
  border: none;
}
body #header-1 .header-container .right .nav-search nav .odb_nav-dropdown-container .odb_nav-dropdown li {
  border-bottom: 1px solid #FFFFFF;
  padding: 6px 12px;
}
body #header-1 .header-container .right .nav-search nav .odb_nav-dropdown-container .odb_nav-dropdown li:hover {
  background: rgba(214, 81, 163, 0.5);
}
body #header-1 .header-container .right .nav-search nav .odb_nav-dropdown-container .odb_nav-dropdown li:last-child {
  border: none;
}
body #header-1 .header-container .right .nav-search nav .odb_nav-dropdown-container .odb_nav-dropdown li a {
  padding: 0;
  position: relative;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.36em;
}
body #header-1 .header-container .right .nav-search nav .odb_nav-dropdown-container .odb_nav-dropdown li a:hover {
  background: none;
}
body #header-1 .header-container .right .nav-search nav .odb_nav-dropdown-container .odb_nav-dropdown li a::after {
  content: ">";
  position: absolute;
  right: 0;
}
body #header-1 .header-container .right .nav-search .search-container input {
  border: none;
  padding: 11px 13px;
  width: 290px;
  color: #762D5A;
}
body #header-1 .header-bg-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #762D5A;
  opacity: 50%;
  mix-blend-mode: multiply;
}
body #header-1 .header-bg {
  filter: saturate(2);
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  mix-blend-mode: multiply;
}
body #header-1 .header-bg2 {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body #header-2 {
  position: fixed;
  min-height: 70px;
  width: 100%;
  padding: 11px 50px;
  z-index: 99999;
}
body #header-2 .header-container {
  display: flex;
  margin: auto;
  max-width: 1440px;
  align-items: center;
}
body #header-2 .header-container .logo-container {
  display: block;
}
body #header-2 .header-container .lang-sosmed {
  display: flex;
  gap: 44px;
  align-items: center;
}
body #header-2 .header-container .lang-sosmed .lang {
  color: #FFFFFF;
}
body #header-2 .header-container .lang-sosmed .sosmed {
  display: flex;
  gap: 16px;
  align-items: center;
}
body #header-2 .header-container .nav-search {
  display: flex;
  gap: 36px;
  align-items: center;
  padding: 38px 89px 0px 73px;
}
body #header-2 .header-container .nav-search nav {
  display: flex;
  gap: 22px;
  flex: 1;
  margin: auto;
}
body #header-2 .header-container .nav-search nav a {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  letter-spacing: 0.115em;
}
@media only screen and (min-width: 1440px) {
  body #header-2 .header-container .nav-search nav a {
    white-space: nowrap;
  }
}
body #header-2 .header-bg-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #762D5A;
  opacity: 50%;
  mix-blend-mode: multiply;
}
body #header-2 .header-bg {
  filter: saturate(2);
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  mix-blend-mode: multiply;
}
body content {
  display: block;
  margin: auto;
  position: relative;
  max-width: 1440px;
  overflow: hidden;
}
body content .odb_sliderContainer {
  height: 100vh !important;
}
body content .odb_sliderContainer .odb_sliderItemContainer {
  height: 100vh !important;
}
body content .odb_sliderContainer .odb_sliderItemContainer .orchidee_sliderItem {
  height: 100vh !important;
}
body content .odb_sliderContainer .odb_sliderItemContainer .orchidee_sliderItem img {
  height: 100vh !important;
}
body content .odb_beranda-content-container {
  padding: 50px 100px;
}
body content .odb_beranda-content-container .odb_beranda-subtitle-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 159.4%;
  text-align: center;
  letter-spacing: 0.05em;
  max-width: 710px;
  margin: auto;
  margin-bottom: 40px;
}
body content .odb_beranda-content-container .odb_content1-container {
  display: flex;
  gap: 25px;
}
body content .odb_beranda-content-container .odb_content1-container .odb_content1-item img {
  width: 392px;
  height: 428px;
  margin-bottom: 16px;
}
body content .odb_beranda-content-container .odb_content1-container .odb_content1-item div {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}
body content .odb_beranda-content-container .odb_content2-container {
  display: flex;
  gap: 25px;
}
body content .odb_beranda-content-container .odb_content2-container .odb_content2-item img {
  max-width: 390px;
  max-height: 320px;
  width: 100%;
  margin-bottom: 36px;
}
body content .odb_beranda-content-container .odb_content2-container .odb_content2-item .title {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 24px;
}
body content .odb_beranda-content-container .odb_content2-container .odb_content2-item .text {
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2em;
  max-width: 225px;
  margin: auto;
}
body content .odb_beranda-content-container .odb_content3-container {
  display: flex;
  gap: 25px;
}
body content .odb_beranda-content-container .odb_content3-container .odb_content3-item {
  padding: 32px;
  max-width: 350px;
  text-align: center;
}
body content .odb_beranda-content-container .odb_content3-container .odb_content3-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 36px;
}
body content .odb_beranda-content-container .odb_content3-container .odb_content3-item .nama {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 24px;
}
body content .odb_beranda-content-container .odb_content3-container .odb_content3-item .job {
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 24px;
}
body content .odb_beranda-content-container .odb_content3-container .odb_content3-item .text {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  margin: auto;
}
body content .odb_beranda-content-container .odb_content4-container {
  display: flex;
  gap: 18px;
  align-self: center;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item {
  padding: 32px;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_content4-img {
  width: 100%;
  margin-bottom: 17px;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-container {
  display: flex;
  gap: 28px;
  margin-bottom: 23px;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-container .odb_feed-item {
  display: flex;
  gap: 10px;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-container .odb_feed-item img {
  width: 30px;
  height: 30px;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-content .odb_feed-profile {
  display: flex;
  gap: 17px;
  align-items: center;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-content .odb_feed-profile img {
  width: 56px;
  height: 56px;
  border-radius: 50px;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-content .odb_feed-profile span {
  color: #909090;
  font-size: 20px;
  letter-spacing: 0.005em;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-content .odb_feed-text {
  padding-left: 73px;
}
body content .odb_beranda-content-container .odb_content4-container .odb_content4-item .odb_feed-content .odb_feed-text p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.005em;
}
body content .odb_beranda-content-container .odb_content5-container .odb_content5-highlight-container {
  text-align: center;
  margin-bottom: 39px;
}
body content .odb_beranda-content-container .odb_content5-container .odb_content5-highlight-container .odb_content5-highlight {
  margin: auto;
  width: 711px;
  height: 400px;
  background: #909090;
  margin-top: 54px;
  margin-bottom: 21px;
}
body content .odb_beranda-content-container .odb_content5-container .odb_content5-highlight-container span {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.005em;
}
body content .odb_beranda-content-container .odb_content5-container .odb_content5-item-container .odb_content5-item {
  padding: 32px;
}
body content .odb_beranda-content-container .odb_content5-container .odb_content5-item-container .odb_content5-item .odb_content5-item-img {
  min-height: 236px;
  background: #909090;
  margin-bottom: 29px;
}
body content .odb_beranda-content-container .odb_content5-container .odb_content5-item-container .odb_content5-item span {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.005em;
}
body footer {
  background: url("../img/GRADIENT.png");
  background-position: center;
  background-size: cover;
  padding: 27px 60px;
}
body footer .left {
  padding: 40px 0px 40px 24px;
  min-width: 210px;
}
body footer .left h6 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
}
body footer .left span {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
body footer .right {
  text-align: right;
}
body footer .right .odb_toTop {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 60px;
  background: unset;
  border: none;
}
body footer .right .odb_toTop:hover {
  filter: brightness(0.9);
  transition: 0.2s;
}
body footer .right nav {
  margin-bottom: 60px;
}
body footer .right nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: 0.105em;
  border-right: 1px solid #FFFFFF;
  padding: 0px 15px;
}
body footer .right nav a:last-child {
  border: none;
  padding: 0px 0px 0px 15px;
}
body footer .right .odb_copyright {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 5px;
}
body footer .right .odb_copyright-text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.blank {
  flex: 1;
}

.odb_beranda-title {
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.68em;
  margin-bottom: 33px;
}

.odb_beranda-subtitle {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.025em;
}/*# sourceMappingURL=style.css.map */